<header>
        <nav> 
                <ul>
                    
                    <li><a href= '@Url.Action("Usuario", "Cliente")#historia' >A RoleTop</a></li>
                    <li><a asp-controller="cliente" asp-action="Galeriauser">Galeria</a></li>
                    <li><a href= '@Url.Action("Usuario", "Cliente")#localização'>Onde estamos</a></li>
                    <li><a href= '@Url.Action("Usuario", "Cliente")#Agenda'>Agenda</a></li>
                    <li ><a asp-controller="Pedido" asp-action="Pedido">Alugue Aqui!</a></li>
                    <li><a asp-controller="Dados" asp-action="Dados">@Model.UsuarioNome!</a></li>
                    <li><a asp-controller="Home" asp-action="Index" >Deslogar</a></li>
                </ul>
        </nav>
</header>     

<section id="Agenda">
<h2>Agenda</h2>
    <table border="3"  id="tabela">
       
        
        <td colspan="7">SETEMBRO</td>
        
        <tr >
           <ul>
               <li>Indisponivel</li>
               <li>Disponivel</li>
              
           </ul>
            
            
            <th id="ddd" width="70px" height="70px">1</th>
            <th id="zzz" width="70px" height="70px">2</th>
            <th id="zzz" width="70px" height="70px">3</th>
            <th width="70px" height="70px">4</th>
            <th id="ddd" width="70px" height="70px">5</th>
            <th width="70px" height="70px">6</th>
            <th width="70px" height="70px">7</th>
        
        </tr>
        <tr>
            <td id="zzz" width="70px" height="70px">8</td>
            <td width="70px" height="70px">9</td>
            <td width="70px" height="70px">10</td>
            <td id="zzz" width="70px" height="70px">11</td>
            <td id="ddd" width="70px" height="70px">12</td>
            <td id="ddd" width="70px" height="70px">13</td>
            <td width="70px" height="70px">14</td>
        </tr>
        <tr>
            <td id="fff" width="70px" height="70px">15</td>
            <td width="70px" height="70px">16</td>
            <td id="fff" width="70px" height="70px">17</td>
            <td width="70px" height="70px">18</td>
            <td width="70px" height="70px">19</td>
            <td id="ddd" width="70px" height="70px">20</td>
            <td width="70px" height="70px">21</td>
        </tr>
        <tr>
            <td id="fff" width="70px" height="70px">22</td>
            <td id="fff" width="70px" height="70px">23</td>
            <td width="70px" height="70px">24</td>
            <td id="ddd" width="70px" height="70px">25</td>
            <td width="70px" height="70px">26</td>
            <td id="ddd" width="70px" height="70px">27</td>
            <td width="70px" height="70px">28</td>
        </tr>
        <tr>
            <td id="ddd" width="70px" height="70px">29</td>
            <td id="ddd" width="70px" height="70px">30</td>
            <td id="ddd" width="70px" height="70px">31</td>
        </tr>
    
    </table>



</section>

<section id="Pedido">
<div class="Pedidos">
        <h2>Alugue Aqui!</h2>
        <form method="POST" action='@Url.Action("Registrar","Pedido")'>
            <div id="nome">
                <label for="nome">Nome Completo</label>
                <br />
                <input id="nome" type="text" maxlength="20" minlength="3"  name="nome"  placeholder="___________________________________________________________________________________________"/>
            </div>

            

            <div>
                <label for="telefone">Telefone para contato</label>
                <br />
                <input id="telefone" type="text" placeholder="11 12345 6789"  name="telefone"  placeholder="_________________________________________________________________________________"/>
            </div>

            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" name="email"   placeholder="______________________________________________________________________________"/>
            </div>

            <div>
                <label for="data">Data do Evento</label>
                <br />
                <input id="data" type="datetime-local" name="data"   placeholder="______________________________________________________________________________"/>
            </div>

            <input type="submit" value="Finalizar pedido!" />
        </form>

        

    </div>