@model RoleTopMVC.ViewModels.DashboardViewModel
<link rel="stylesheet" type="text/css" href="~/css/adm.css">
<link href="img/logo.png" rel="icon" type="image/x-icon">
<section id="status-pedidos">
            

            <h3>Status do Evento</h3>
            <div id="painel">
                <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.PedidosAprovados</p>
                </div>
                <div class="box-status-pedidos pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.PedidosPendentes</p>
                </div>
                <div class="box-status-pedidos reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.PedidosReprovados</p>
                </div>
            </div>
        </section>
        <h3>Lista de eventos</h3>
        <section id="lista-pedidos">
   
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome</th>
                        <th rowspan="2">Data e Hora do Evento</th>
                        <th colspan="2">Status do Pagamento</th>
                        <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                 </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var pedido in Model.Pedidos )
                    {
                        <tr>
                            <td>@pedido.Cliente.Nome</td>
                            <td>@pedido.Cliente.Email</td>
                            <td>@pedido.Cliente.Telefone</td>
                            
                            <td><a href='@Url.Action("Aprovar", "Pedido", new {id = @pedido.Id})'><i class="fas fa-check"></i></a></td>
                            <td><a href='@Url.Action("Reprovar", "Pedido", new {id = @pedido.Id})'><i class="fas fa-times"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

    </main>

  

    

<hr/>
<section id="usuarios">
    <h2>Usuarios</h2>
    <div id="aaa">
        <div id="container-historia">
            <h3>Usuario</h3>
                <p>
               Nome: Rodolfo Bartolomeu de Carlos
               _________________________________
               <br/>
               Nome do usuario: Carlos
               _________________________________

               <br/>
               CPF: 123-123-123-32
               _________________________________
               <br/>
               Numero: (11) 954234234
               _________________________________
               <br/>
               Status do evento: Dia 18 as 14:00 até 24:50
               ____________________________________________
               <br/>
               Serviços adicionais: Luz e Som
               _________________________________
               <br/>
               Status do pagamento: Pago
               _________________________________
               <br/>
               E-mail: eaetouxaqueleu@email.com
               _________________________________                           
            <br/>
            <a href="#">Editar dados</a>     
            </p>
        </div>

        <div id="aaa">
            <div id="container-historia">
                <h3>Usuario</h3>
                    <p>
                   Nome: Tomas Turbando Alí
                   _________________________________
                   <br/>
                   Nome do usuario: Carlos
                   _________________________________
    
                   <br/>
                   CPF: 123-123-123-32
                   _________________________________
                   <br/>
                   Numero: (11) 954234234
                   _________________________________
                   <br/>
                   Status do evento: Dia 18 as 14:00 até 24:50
                   ____________________________________________
                   <br/>
                   Serviços adicionais: Luz e Som
                   _________________________________
                   <br/>
                   Status do pagamento: Pago
                   _________________________________
                   <br/>
                   E-mail: eaetouxaqueleu@email.com
                   _________________________________                           
                <br/>
                <a href="#">Editar dados</a>     
                </p>
            </div>
    

  
   